<div>
  <div>
    <label for="connection_first_name">First Name</label>
    <input id="connection_first_name" name="connection[first_name]" type="text" value="<%=@connection.first_name %>"/>
  </div>
  <div>
    <label for="connection_last_name">Last Name</label>
    <input id="connection_last_name" name="connection[last_name]" type="text" value="<%=@connection.last_name %>"/>
  </div>
  <div>
    <label for="connection_company">Connection</label>
    <input id="connection_company" name="connection[company]" type="text" value="<%=@connection.company %>"/>
  </div>
  <div>
    <label for="connection_title">Title</label>
    <input id="connection_title" name="connection[title]" type="text" value="<%=@connection.title %>"/>
  </div>
  <div>
    <label for="connection_phone">Phone</label>
    <input id="connection_phone" name="connection[phone]" type="text" value="<%=@connection.phone %>"/>
  </div>
  <div>
    <label for="connection_mobile">Mobile</label>
    <input id="connection_mobile" name="connection[mobile]" type="text" value="<%=@connection.mobile %>"/>
  </div>
  <div>
    <label for="connection_fax">Fax</label>
    <input id="connection_fax" name="connection[fax]" type="text" value="<%=@connection.fax %>"/>
  </div>
  <div>
    <label for="connection_email">Email</label>
    <input id="connection_email" name="connection[email]" type="text" value="<%=@connection.email %>"/>
  </div>
  <div>
    <label for="connection_website">Website</label>
    <input id="connection_website" name="connection[website]" type="text" value="<%=@connection.website %>"/>
  </div>
  <div>
    <label for="connection_industry">Industry</label>
    <input id="connection_industry" name="connection[industry]" type="text" value="<%=@connection.industry %>"/>
  </div>
  <div>
    <label for="connection_linkedin">Linkedin</label>
    <input id="connection_linkedin" name="connection[linkedin]" type="text" value="<%=@connection.linkedin %>"/>
  </div>
  <div>
    <label for="connection_notes">Notes</label>
    <textarea name="connection[notes]" cols="60" rows="10"></textarea>
  </div>
  <div>
    <label for="connection_tier">Tier</label><br>
    <input type="radio" name="connection[tier]" value=1 checked>1<br>
    <input type="radio" name="connection[tier]" value=2>2<br>
    <input type="radio" name="connection[tier]" value=3>3
  </div>
</div>
