<img class="coverPhoto" src="/cityscape2.png">
<br>
<br>
<br>
<div class="page-container">

    <h1>Interaction</h1>
    <div class="interactions-details">
      <ul>
        <li>Date: <%= @interaction.date %></li>
        <li>Method: <%= @interaction.method_of_contact %></li>
        <li>Location: <%= @interaction.location %></li>
        <li>Professional Discussion: <%= @interaction.professional_discussion %></li>
        <li>Casual Discussion: <%= @interaction.casual_discussion %></li>
        <li>Notes: <%= @interaction.notes %></li>
        <li>Follow-up Date: <%= @interaction.follow_up %></li>
        <li>Follow-up Topics: <%= @interaction.follow_up_topics %></li>
      </ul>
    </div>

</div>
