<div class="page-container">
<style>
/*form { display: inline; }
form input {
  background:none!important;
  border:none;
  padding:0!important;
  font: inherit;
  color: -webkit-link;
  text-decoration: underline;
  cursor: auto;
}*/
</style>
  <h1><%= @user.full_name %></h1>
  <div class="users-details">
    <ul>
      <li>First Name: <%= @user.first_name %></li>
      <li>Last Name: <%= @user.last_name %></li>
      <li>Email: <%= @user.email %></li><br><br>
      <li id="button"><a href="/users/<%= @user.id %>/edit">Edit</a></li>
      <li> <%= erb :"users/_delete", layout: false, locals: {user: @user} %></li>
    </ul>
  </div>
</div>
