<div class="coverPhoto"></div>
<style>
</style>

<div class="page-container">

  <div class="userProfile">
    <img class="userIcon" src="/user_icon.png">
  </div>
  <h1><center><%= @user.full_name %></center></h1>
  <center><h3><%= @user.lists.length %> Lists  |
  <%= @user.connections.length %> Connections  |
  <%= @user.interactions.length %> Interactions</h3></center>

  <div class="users-details">
    <ul>
      <li>First Name: <%= @user.first_name %></li>
      <li>Last Name: <%= @user.last_name %></li>
      <li>Email: <%= @user.email %></li><br><br>
      <li id="buttonId"><center><a id="button" href="/users/<%= @user.id %>/edit">Edit</a></li></center>
      <li> <%= erb :"users/_delete", layout: false, locals: {user: @user} %></li>
    </ul>
  </div>
</div>
